services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    networks:
      - appnet

  backend:
    image: anirudha123/mean-backend:latest
    container_name: backend
    restart: unless-stopped
    environment:
      MONGO_URL: mongodb://mongodb:27017/bezkoder_db
    depends_on:
      - mongodb
    networks:
      - appnet

  frontend:
    image: anirudha123/mean-frontend:latest
    container_name: frontend
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - appnet

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - appnet

networks:
  appnet:

volumes:
  mongo_data:
